#title {
  padding: 10px 10px 10px 0px;
}

.products-wrapper {
  margin-bottom: 2em;
}

.side-icons {
  padding: 8px;
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  cursor: pointer;
  height: max-content;
  position: absolute;
  top: 30%;
}
#left_bt {
  left: -50px;
}
#right_bt {
  right: -50px;
}
.items {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.book-block {
  width: 15%;
  display: flex;
  h3,
  h4,
  p {
    text-align: center;
  }
  h3,
  h4 {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: auto;
    max-height: 200px;
    max-width: 100%;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: inherit;
  }
}
